@charset "UTF-8";

main img.pequeno {
    max-width: 350px;
    display: block;
    margin: auto;
}

a.externo::after {
    content: '\00A0\1F517';
}

.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}